@import "colours";

.site {
    background-color: @off-white;
    .base-font;

    h2, .title {
        .header-font;
        border-bottom: 1px dashed @black;
        padding-bottom: 0;
        margin: 0 0 23px 0;
    }
    
    p {
        margin: 0 0 23px 0;
    }
}

.body {
    margin: 0 3rem;
}

.footer {
    margin: 3rem;
    padding: 1rem;
    border-top: 1px solid lightgrey;
    text-align: center;

    .copyright {
        font-size: smaller;
        color: grey;
    }
}